@import url('https://fonts.googleapis.com/css?family=Julius Sans One');

* {
    background-color: deepskyblue;
    color: honeydew;
    font-family: "Julius Sans One", Arial;
    border-radius: 15px;
}

table {
    border-collapse: collapse;
    border: 4px solid honeydew;
    border-radius: 25px;
} 

th {
    border-radius: 0px;
    padding-right: 15px;
    background-color: skyblue;
}

td {
    border-radius: 0px;
    padding-right: 15px;
    background-color: transparent;
}

tr {
    background-color: steelblue;
}

tr:nth-child(even)
{
    background-color: skyblue;
}

button {
    border: none;
}

.holdDelete {
    background-color: transparent;
}

.delBtn {
    background-color: transparent;
}

form {
    margin-top: 30px;
    padding-top: 15px;
    background-color: steelblue;
    width: 35%;
    border: 4px solid honeydew;
}

.formField {
    background-color: steelblue;
    border-radius: 0px;
}

.close {
    float: right;
}

input {
    margin-bottom: 15px;
    margin-left: 15px;
    border: none;
    border-radius: 0px;
    background-color: honeydew;
    color: black;
}

label {
    padding-left: 20px;
    background-color: steelblue;
}
